*{
    text-align: center;
    font-weight: bolder;
}

p{
    color:blueviolet;
    font-size: larger;
}
/*
Selector for element --> element
<p> --> p
Selector for id --> #
Select for class --> .
element.class --> for any element using this class
* --> universal Selector
*/
#para-1{
    color:brown;
    font-weight: bold;
}




#para-2{
    color:chartreuse;
    font-size: small;
}

.pclass{
    text-align: center;
    color:cornflowerblue;
}

.my-class{
    text-align: right;
    color:red;
}

h1.my-class{
    color:blue
}

p,h1{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}